*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.circle-1{
 position: absolute; 
 width: 300px;
 height: 300px;
 background: linear-gradient(-45deg, #753a88, #cc2b5e);
 border-radius: 50%;
 top: 60%;
 left: 30%;
 animation: float 2s infinite ease-in-out;
}
.circle-2{
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(-45deg, #2193, #6dd5ed);
  top: 5%;
  left: 50%;
  border-radius: 50%;
  animation: float 2s 1s infinite ease-in-out;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}

/* .Cards{
  width: 100%;
  height: auto;
  background-image: url(../images/back.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
} */

.user-row{
  width: 100%;
  height: auto;
  background-position: center;
  background-image: url(../images/back.png);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

.card{
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  border: 1px solid rgba(220, 220, 220, 0.3);
  background: rgb(255, 255, 255,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.card img{
  width: 120px;
  border-radius: 50%;
}
.card h2{
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
a{
  color: #73f0f7;
}
.Margin{
  padding-top: 15px;
}
.Ism{
  color: rgba(255, 255, 255, 0.789);
}

.card p{
  font-size: 16px;
  margin: 14px 0px;
}

.card .links img{
  width: 40px;
  border-radius: 50%;
  margin: 5px 5px;
}
.card .links img:hover{
  background: #ff01cf;
}
.buttonla{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  text-align: center;
}
.btn{
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  background: #fff;
  color: #ff01cf;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  text-align: center;
  transition: .6s;
}
.btn:hover{
  background-color: rgb(0, 64, 255);
  color: white;
}

@media (max-width:900px) {
  .user-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:650px) {
  .Cards{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 15px;
  }
  .card{
  width: 100%;
  max-width: 3000px;
  }
}